# Pluggy API Configuration
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
ITEM_ID=your_item_id_here

# Splitwise Configuration
ITEM_ID_SPLITWISE=your_splitwise_item_id_here
SPLITWISE_ACCOUNT_NAME=Splitwise

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=False
