data/*
docs/*
scripts/*
test_scripts/*
*.db
*.env

*.pyc
*.sql

.vscode/*

.github/*
.coverage
!.github/workflows/
!.github/workflows/**

CLAUDE.md


# frontend/build output
dist/
# Dependency directories
node_modules/
jspm_packages/

# Package manager files
yarn.lock
pnpm-lock.yaml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

venv/

.claude/
.superpowers/